*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .logo{
    height: 60px;
    width: 60px;
} */
.logo1{
    height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 90%;
    /* border: 2px solid red; */
}
.page1{
    height: auto;
    width: 100vw;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    /* border: 2px solid blue; */
    display: flex;
    width: 90%;
}
.imageddiv{
    overflow: hidden;
}
.imageddiv>img{
    height: 360px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
li{
    margin: 5px;
    list-style: none;
}
a{
    margin-right: 6px;
    text-decoration: none;
}
.heading1{
    /* border: 2px solid black; */
    font-size: x-large;
}
.heading2{
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    font-size: xx-large;
}
.btn{
    border: 2px solid black;
    padding: 12px;
}
.textdiv{
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
/* .imgdiv{
    border: 2px solid red;
} */
.page2{
    height: auto;
    width: 100vw;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}
.table2{
    display: flex;
    border: 2px solid black;
    width: 90%;
    height: 60px;
    margin-bottom: 45px;
    align-items: center;
    justify-content: space-evenly;
}
.subheadingpage2{
    margin-top: 15px;
    margin-bottom: 40px;
}
.cards{
    /* border: 2px solid black; */
    display: flex;
    width: 90%;
    height: 60%;
    justify-content: space-between;
    /* align-items: center; */
}
.card1,.card2,.card3{
    width: 32%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card2{
    width: 32%;
}
.card3{
    width: 32%;
    /* border: 2px solid orange; */
}
.cardtextdiv1{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 95%;
}
.cardtextdiv2{
    width: 95%;
    margin-bottom: 15px;
}
.cardbtndiv{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 7px;
}
.image1{
    /* height: 280px; */
    width: 388px;
    border-radius: 7px;
}
.btnpage2{
    border: 2px solid black;
    margin-top: 33px;
    padding: 10px;
    margin-bottom: 75px;
}
.cards2{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
}
.image2{
    height: 395px;
    width: 100%;
}
.cardbtndiv2{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* align-items: center; */
}
.card2 > .card1 > .cardbtndiv2{
    margin-top: 8px;
    margin-bottom: 8px;
}
.cardbtndiv2> button{
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        width: auto;
        padding: 7px;
}
.page3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    /* border: 2px solid black; */
    height: auto;
}
.page4{
    /* border: 2px solid black; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.cards2>.card1,.card2,.card3{
    width: 31.5%;
    margin: 5px;
}
.subheadingpage3{
    width: 80%;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
}
.star>img{
    width: 70%;
}
.img4{
    height: 100px;
    /* border: 2px solid black; */
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cards3>.card1,.card2,.card3{
    display: flex;
    text-align: center;
}
.name{
    margin-bottom: 8px;
}
.country{
    margin-bottom: 30px;
}
.cards3{
    display: flex;
}
.banner{
    border: 2px solid rgb(116, 83, 83);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    margin-top: 40px;
    height: 170px;
}
.leftdiv4{
    width: 40%;
    padding: 20px;
}
.leftdiv4 > h2{
    margin-bottom: 15px;
}
.banner > button{
    margin-right: 20px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: auto;
    padding: 7px;
}
.text4{
    margin-top: 50px;
    width: 250px;
    text-align: center;
    margin-bottom: 30px;
}
.para{
    width: 75%;
}
.page5{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.banner2{
    width: 90%;
    background-color: black;
    color: white;
    z-index: 3;
    /* border: 2px solid greenyellow; */
}
.logo>img{
    height: 30px;
}
.btn5{
    display: flex;
    /* border: 2px solid rebeccapurple; */
    width: fit-content;
    padding: 5px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 1px;
    outline: groove;
}
.logodiv>img{
    height: 30px;
    margin-right: 3px;
}
.textdiv5>p{
    font-size: 6px;
    margin-bottom: 5px;
}
/* .logo{
    border: 2px solid red;
} */
.textdiv5{
    text-align: left;
    align-items: center;
}
.leftdiv5{
    padding: 20px;
    padding-left: 30px;
}
.leftdiv5>p{
    margin-top: 10px;
    margin-bottom: 40px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 85px;
    padding-top: 125px;
    position: relative;
    /* background-color: azure; */
    top: -85px;
    z-index: -1;
    background-color: #23e1f757;
    ;
}
.icon>img{
    border-radius: 50%;
    height: 30px;
}
.div2>ul,.div3>ul,.div4>ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.footer>div{
    width: 20%;
}
.logo>p{
    margin-top: 7px;
    margin-bottom: 30px;
}
hr{
    margin-bottom: 20px;
    /* color: black;width: 90%; */
}
.copyright{
    margin-bottom: 20px;
}
.pageno2{
    width: 100vw;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pageno2>h1{
    margin-top: 75px;
    margin-bottom: 120px;
}
.destinations{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.destinations>img{
    height: 155px;
}
.section1, .section2, .section3, .section4, .section5{
    width: 90%;
}
.section1>h3{
    margin-bottom: 30px;
    font-size: x-large;
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.leftimg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftimg>img{
    width: 70%;
    height: 300px;
}
.righttext{
    width: 50%;
}
.righttext>h3{
    margin-bottom: 20px;
    font-size: x-large;
}
.para2{
    margin-bottom: 10px;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 90%;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.explore>button{
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.activities{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 2px solid black;
    width: 90%;
    padding: 60px;
}.icon{
    margin-bottom: 20px;
}
.section5>h3{
    margin-bottom: 40px;
    margin-top: 50px;
    font-size: x-large;
}
.box{
    display: flex;
    flex-direction: column;
}
.scub{
    height: 55px;
    width: 60px;
}
.scub>line{
    width: 60px;
}
.line{
    height: 7px;
}
.section6{
    margin-top: 70px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-bottom: 100px;
}
.section6>h3{
    margin-bottom: 15px;
    font-size: x-large;
}
.section6>p{
    margin-bottom: 40px;
}
.section6>img{
    width: 100%;
    height: 400px;
}
.main3{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 90%;
    /* border: 2px solid black; */
}
.headingdiv3{
    margin-top: 80px;
    height: 200px;
    width: 90%;
    /* border: 2px solid black; */
    text-align: center;
}
.maindiv2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    width: 90%;
}
.divright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 40%;
    height: 450px;
}
.divleft>img{
    height: 350px;
}
input, .divright>button{
    height: 40px;
    margin-bottom: 20px;
}
label{
    margin-bottom: 12px;
}
.divright>button{
    height: 40px;
    margin-top: 15px;
}


